.cy-main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cy-btn-save {
  padding: 0.5rem 3rem;
  background-color: grey;
  border-radius: 2rem;
  margin-top: 1rem;
}
