@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.main-container {
  width: 100%;
  height: 100%;
  background-color: var(--main-bg-color);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --main-bg-color: rgb(240, 242, 245);
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  --blue: rgb(0, 0, 255);
  --icon-grey: rgba(0, 0, 0, 0.6);
  --border-grey: rgba(0, 0, 0, 0.08);
  --search-bar: rgb(240, 242, 245);
  --search-bar-hover: rgb(228, 230, 233);
  --blue-text: rgb(33, 111, 219);
  --logo-blue: rgb(10, 102, 194);
  --nav-dropdown-text: rgb(5, 5, 5);
  --btn-login: rgb(10, 102, 194);
  --btn-login-hover: rgb(0, 65, 130);
  --box-shadow: rgb(102, 103, 105);
}
